$primary: #7d2528;
$dark: #000000;
$light: #ffffff;
$font-color-blue: #5ff3fa;
$font-color-green: #27a15b;
$baseLine: 10px;

%clearGutter {
    margin: 0;
    padding: 0;
}

@function rhythm($level) {
    @return $baseLine * ceil($level);
}

@function line($size) {
    @return rhythm($size * 1.2 / $baseLine);
}

@mixin font($size, $line-height: auto) {
    $line: line($size);
    font-size: $size;
    @if $line-height == auto or $line-height < $line {
        line-height: $line;
    } @else {
        line-height: $line-height;
    }
}

@mixin psa($top: initial, $right: initial, $bottom: initial, $left: initial) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin light-primary($color: $primary) {
    color: lighten($color, 40%);
    text-shadow: 0 0 3px lighten($color, 20%), 0 0 8px lighten($color, 30%);
}


$pad-media: 1024px;
$com-media: 1600px;
@mixin pad-width() {
    @media  (max-width: $pad-media) {
        @content;
    }
}
@mixin com-width() {
    @media  (max-width: $com-media) {
        @content;
    }
}
